@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped table-sm">

    <tbody>

        <tr>
            <td>Пользователь</td>
            <td>@User.Identity.Name</td>
        </tr>

        <tr>
            <td>IsAuthenticated</td>
            <td>@User.Identity.IsAuthenticated</td>
        </tr>

        @foreach (var C in User.Claims)
        {
            <tr>
                <td>@C.Type</td>
                <td>@C.Value</td>
            </tr>

        }

    </tbody>

</table>

